<template>
<div>
  <h2>OpenUniVR</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" @submit="register">
			<h1>No Account ? Create One !</h1>
			<div>
         <label for="register-login">Mail :</label>
          <input id="register-login" type="text" v-model="username" autocomplete="email"/>
        </div>
        <div>
          <label for="register-password">Mot de passe :</label>
          <input id="register-passord" type="password" v-model="password" autocomplete="new-password"/>
        <div/>
        <div>
          <label for="register-firstname">Prénom :</label>
          <input id="register-firstname" type="text" autocomplete="given-name" v-model="firstname"/>
        <div/>
        <div>
          <label for="register-lastname">Nom :</label>
          <input id="register-lastname" type="text" autocomplete="family-name" v-model="lastname"/>
        <div/>
        <input class="button" type="submit"/>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Please Login</h1>
				<p>Enter your personal details and start journey with us</p>
        <form @submit="login">
          <label for="login">Login :</label>
          <input id="login" type="text" v-model="username" autocomplete="username"/>
          <label for="password">Mot de passe :</label>
          <input id="passord" type="password" v-model="password" autocomplete="current-password"/>
          <input class="button" type="submit"/>
        </form>
			</div>
		</div>
	</div>
</div>
</div>
</template>

<script lang="ts">
// TODO : Transcript into fair TS or remove TS use (used ts for promise support without aving to add babel config)
import store from '../store'

export default {
  name: 'Login',
  data: () => ({
    // TODO : use Vuex for storing user ...
    username: '',
    password: '',
    firstname: '',
    lastname: ''
  }),
  methods: {
    async login (event: Event) {
      event.preventDefault()
      let payload = {
        email: this.username,
        password: this.password
      }
      try {
        const response = await this.$http.post('/login', payload)
        store.setUser(response.data)
        this.$router.push({ name: 'app' })
      } catch (err) {
        console.error(err)
      }
    },
    async register (event: Event) {
      event.preventDefault()
      let payload = {
        email: this.username,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname
      }
      try {
        const response = await this.$http.post('/register', payload)
        this.connectedUser = response.data
        store.setUser(response.data)
        this.$router.push({ name: 'app' })
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>

<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #fffcf9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px; 
	text-decoration: none;
	margin: 15px 0;
}

.button {
	border-radius: 20px;
	border: 1px solid #ef476f;
	background-color: #ef476f;
	color: #FFFCF9;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFD166;
}

form {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
  padding:0 20px 20px 20px;
  margin-bottom:10px;
  border:1px solid #DF3F3F;
  background-color:#FFF3F3;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  box-shadow:1px 1px 1px #D83F3D;
  cursor:pointer;
}

.container {
	background-color: #fffcf9;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  margin: auto;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #ef476f;
	background: -webkit-linear-gradient(to right, #06d6a0, #26547c);
	background: linear-gradient(to right, #06d6a0, #26547c);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fffcf9;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #FFD166;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

</style>
